body{
    background: black;
	color: #333;
	font-family: arial,"segoe print";
	margin: 0;
	padding: 0;
}

#main {
	background: #333;
	color: #ddd;
	height: 1000px;
	margin: 0 auto;
	overflow: hidden;
	width: 80%;

}
#work_panel {
	background: #38a;
	overflow: hidden;
	width: 100%;

}
#soc_nets {
	margin: 1%;
	float: left;
	padding: 0px; 
}

#soc_nets li{
	
	float: left;
	padding: 10px;
	margin: 1px;
	border: 0px solid black;
	border-radius: 100%;
	background: black;
	
	list-style: none;
}

#soc_nets li a {
	color: red;
	text-decoration: none;
}